@import "tailwindcss";

html {
  scroll-behavior: smooth;
  color-scheme: dark;
}

body {
  background-color: #000;
  color: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
